body {
  font-family: "Newsreader", sans-serif;
  padding-top: $sectionTopPadding;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Moms_typewriter", sans-serif;
  color: $primaryColor;

}

.content-area {
  padding: 1em 0;
}

.btn {
  background-color: $accentColor;
  color: $lightColor;
}

.social-icons {
  a {
      padding: 0 5px;
  }
}

ul {
  margin: 4px 0 0 0;
  padding: 0;
}

a {
  color: $darkColor;
  text-decoration: none;

  &:hover,
  &:after {
    color: $lightColor;
  }

}

.active {
  background-color: $accentColor;
  color: $lightColor !important;
}

.nav-link {
  // margin: 3px;
}