* {
  font-family: "Newsreader", sans-serif;
}

body {
  font-family: "Newsreader", sans-serif;
  padding-top: $sectionTopPadding;
  margin: 0;

  a {
    color: $darkColor;
    text-decoration: none;
  
    &:hover,
    &:after {
      color: $accentColor;
    }
  }
}

h1, h2, h3 {
  font-family: "Moms_typewriter", sans-serif;
  color: $primaryColor;
}

h4, h5, h6 {
  font-family: "Newsreader", sans-serif;
}

p {
  font-size: 1rem;
}

.btn {
  background-color: $accentColor;
  color: $lightColor;
}

.social-icons {
  a {
      padding: 0 5px;
  }
}

ul {
  margin: 4px 0 0 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

a {
  color: $darkColor;
  text-decoration: none;

  &:hover,
  &:after {
    color: $lightColor;
  }

}

.active {
  background-color: $accentColor;
  color: $lightColor !important;
}
