body {
  font-family: "Newsreader", sans-serif;
  padding-top: $sectionTopPadding;
}


.btn {
  background-color: $accentColor;
  color: $lightColor;
}

.social-icons {
  a {
      padding: 0 5px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: $darkColor;
  text-decoration: none;

  &:hover,
  &:after {
    color: $lightColor;
  }

}

.active {
  background-color: $accentColor;
  color: $lightColor !important;
  // border-bottom: 2px solid $lightColor;
}