$primaryColor: #19376D;
$secondaryColor: #A5D7E8;
$accentColor: #576CBC;
$darkColor: darken($primaryColor, 10%);
$lightColor: lighten($secondaryColor, 17%);

// Body Top Paddings
$bodyTopPadding: 180px;
$bodyTopPadding-sm: 201px;
$bodyTopPadding-lg: 203px;
$bodyTopPadding-xl: 160px;

// Breakpoints
$breakpoint-sm: 340px;
$breakpoint-md: 576px;
$breakpoint-lg: 590px;
$breakpoint-xl: 1400px;