<section class="hero-banner py-5" id="hero">
    <div class="container">
        <div class="row row align-items-center align-items-md-start">
            <div class="col-md-5">
                <img src="{{ site.data.hero.image.url }}" alt="{{ site.data.hero.image.text }}" class="w-100">
            </div>
            <div class="py-3 col-md-7 align-items-center text-center text-md-start">
                <h5 class="hero-lead">{{ site.data.hero.text.lead }}</h5>
                <h2 class="hero-title">{{ site.data.hero.text.title }}</h2>
                <p class="hero-toptext">{{ site.data.hero.text.top }}</p>
                <figure class="w-75 mx-auto text-center text-md-start">
                    <blockquote class="blockquote">
                        <p>"{{ site.data.hero.quote.text }}"</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">{{ site.data.hero.quote.author }}</figcaption>
                </figure>
                <p class="hero-bottomtext">{{ site.data.hero.text.bottom }}</p>
            </div>
        </div>
    </div>
</section>