{% for logo in site.data.images %}
{% if logo.type == "logo-image" %}
<div class="p-3  fixed-top" id="jumbotron">
    <div class="container align-content-between">
        <div class="row">
            <!-- Left elements -->
            <div class="col-sm-6 px-0 mb-2 d-block text-center justify-content-center justify-content-md-start">
                <a class="navbar-brand nav--title pb-2" href="{{ site.url }}/index.html">
                    <span class="brand--title">
                      <img src="{% if logo.url %}{{ logo.url}}{% endif %}" alt="Logo" class="pe-2">{{ site.title }}<span class="brand--ext ms-2">{{ site.ext }}</span>
                    </span>
                </a>
                <span class="nav--tagline text-center text-sm-start">{{ site.tagline }}</span>  
            </div>
            <!-- Left elements -->

            <!-- Right elements -->
            <div class="col-sm-6 d-flex justify-content-center justify-content-sm-end align-items-top p-0">
                <div class="social pt-0 pt-sm-3">
                    {% include commons/social-icons.html %}
                </div>
            </div>
            <!-- Right elements -->
        </div>
    </div>
</div>
{% endif %}
{% endfor %}