<div class="p-3 text-center fixed-top" id="jumbotron">
    <div class="container align-content-between">
        <div class="row">
        <!-- Left elements -->
        <div class="col-sm-6 d-flex justify-content-center justify-content-md-start">
            <a class="navbar-brand nav--title my-auto p-0" href="">
                <img src="/assets/img/pc-logo-black.png" alt="Logo" width="32" height="32" class="mb-3">
                <span class="brand--title">{{ site.title }} <span class="brand--ext">{{ site.ext }}</span></span>
             </a>
        </div>
        <!-- Left elements -->

        <!-- Right elements -->
        <div class="col-sm-6 d-flex justify-content-center justify-content-sm-end align-items-center">
            <div class="social">
                {% include commons/social-icons.html %}
            </div>
        </div>
        <!-- Right elements -->
        </div>
    </div>
</div>