<ul class="navbar-nav main-nav">
  {% if site.data.profile.shownav.home %}
  <li class="nav-item">
    <a class="nav-link {% if page.title == 'Home' %}active{% endif %}" href="{{ site.url }}/index.html">Home</a>
  </li>
  {% endif %}
  {% if site.data.profile.shownav.the-author %}
  <li class="nav-item">
    <a class="nav-link {% if page.title == 'The Author' %}active{% endif %}" href="{{ site.url }}/the-author.html">The Author</a>
  </li>
  {% endif %}
  {% if site.data.profile.shownav.blog %}
  {% if site.posts.size > 0 %}
  <li class="nav-item">
    <a class="nav-link {% if page.title == 'Blog' %}active{% endif %}" href="{{ site.url }}/blog.html">Blog</a>
  </li>
  {% endif %}
  {% endif %}
  {% if site.data.profile.shownav.books %}
  <li class="nav-item">
    <a class="nav-link {% if page.title == 'Books' %}active{% endif %}" href="{{ site.url }}/books.html">Books</a>
  </li>
  {% endif %}
</ul>
