#footer {
    background-color: $secondaryColor;
    color: $darkColor;

    a {
        text-decoration: none;
        color: $primaryColor;
        align-content: center;

        &:hover,
        &:after {
            color: $lightColor;
        }
    }
}

.footer--legal-nav,
.footer--main-nav {
    .active {
        background-color: $secondaryColor;
    }
}
