#footer {
    background-color: $secondaryColor;
    color: $darkColor;

    a {
        text-decoration: none;
        color: $primaryColor;
        padding-left: 10px;

        &:hover,
        &:after {
            color: $lightColor;
        }
    }
}
