#jumbotron {
    background-color: $secondaryColor;

    nav--title {
        align-content: center;
        padding: 0;
    }

    img {
        align-self: center;
    }

    .brand--title {
        font-family: "Moms_typewriter", sans-serif;
        color: $primaryColor;
        font-size: 20px;

        .brand--ext {
            color: $darkColor;
    
        }

        @media (min-width: 340px) {
            font-size: 25px;
        }

        @media (min-width: 576px) {
            font-size: 32px;
        }
    }

    .brand--ext {
        color: $primaryColor;

    }

    .nav--tagline {
        font-family: "Newsreader", sans-serif;
        text-align: center;

        @media screen and (min-width: 576px) {
            text-align: left;
        }
    }

    a {
        &:hover,
        &:after {
            color: $darkColor;
        }
    }

  }