#jumbotron {
  background-color: $secondaryColor;

  img {
    width: 25px;
    height: 25px;

    @media (min-width: 340px) {
      width: 32px;
      height: 32px;
    }

    @media (min-width: 590px) {
      width: 36px;
      height: 36px;
    }
  }

  .brand--title {
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    color: $accentColor;
    font-size: 1.4rem;

    .brand--ext {
      color: $lightColor;
      font-size: 1.2rem;
    }

    @media (min-width: $breakpoint-sm) {
      font-size: 2rem;

      .brand--ext {
        font-size: 1.6rem;
      }
    }

    @media (min-width: $breakpoint-lg) {
      font-size: 2.5rem;

      .brand--ext {
        font-size: 2rem;
      }
    }
  }

  .nav--tagline {
    font-family: 'Newsreader', serif;
    color: $primaryColor;
    font-weight: light;
    text-align: center;
    font-size: 1.1rem;

    @media (min-width: $breakpoint-sm) {
      font-size: 1.4rem;
      display: inline-block;
    }

    @media (min-width: $breakpoint-lg) {
      font-size: 1.8rem;
    }
  }

  a {

    &:hover,
    &:after {
      color: $darkColor;
    }
  }

}