#jumbotron {
    background-color: $primaryColor;

    nav--title {
        align-content: center;
        padding: 0;
    }

    img {
        align-self: center;
    }

    .brand--title {
        font-family: "Moms_typewriter", sans-serif;
        color: $accentColor;
        padding-left: 2px;
        font-size: 2rem;

    }
  }