.header--navbar {
    margin-top: 112px;
    background-color: $secondaryColor;
    // color:  $lightColor;

    a {
       color: $lightColor;
 
    }

    @media screen and (min-width: 576px) {
        margin-top: 88px;
    }
}

// .nav-link a {
//     color: $accentColor;
// }

// .nav--title:hover {
//     border-left: 2px solid $accentColor;
//     border-bottom: none;
//     // color: $accentColor;
// }

// .nav-link {
//     font-size: 18px;
//     color: $accentColor;

//     &:hover,
//     &:after {
//         border-left: 2px solid $accentColor;
//         border-bottom: none;
//         color: $accentColor;   
//     }
// }

