.main-nav {
  .active {
    color: $lightColor;
  }
}

.main--navbar {
  margin-top: 124px;
  background-color: $primaryColor;

  a {
    color: $lightColor;

    &:hover,
    &:after {
      background-color: $secondaryColor;
      color: $lightColor;
    }
  }

  .dropdown-menu {
    text-decoration: none;
    background-color: $primaryColor;
  }

  .dropdown .nav-link {
    color: $lightColor;
  }

  .dropdown-item.active {
    background-color: $accentColor;
  }

  @media (min-width: $breakpoint-sm) {
    margin-top: 145px;
  }

  @media (min-width: $breakpoint-md) {
    margin-top: 121px;
  }

  @media (min-width: $breakpoint-lg) {
    margin-top: 143px;
  }

  @media (min-width: $breakpoint-xl) {
    margin-top: 100px;
  }
}

.navbar-toggler {
  background-color: $accentColor;
  color: $primaryColor;
}