.main-nav {
    .active {
        background-color: $accentColor;
        color: $lightColor !important;
    }
}

.header--navbar {
    margin-top: 112px;
    background-color: $primaryColor;

    a {
       color: $lightColor;
 
       &:hover,
       &:after {
           background-color: $lightColor;
       }
    }

    .dropdown-menu {
        text-decoration: none;
        background-color: $primaryColor
    }

    .dropdown .nav-link {
        color: $lightColor;
    }

    .dropdown-item.active{
        background-color: $accentColor;
    }

    @media screen and (max-width: 350px) {
        margin-top: 104px;
    }

    @media screen and (min-width: 576px) {
        margin-top: 88px;
    }
}

.navbar-toggler {
    background-color: $accentColor;
    color: $primaryColor;
}
