#section-title {
    font-family: "Moms_typewriter", sans-serif;
    font-size: 1.5rem;
    background-color: $lightColor;
    padding: 10px;
    text-align: center;
}

.page-title {
    color: $darkColor;
    margin: 0;
}