#section-title {
    font-size: 2em;
    background-color: $lightColor;
    padding: .6em;
    text-align: center;
    border-top: 2px solid $primaryColor;
    border-bottom: 2px solid $primaryColor;
}

.page-title {
    color: $darkColor;
    margin: 0;
}