.social-icons {

    li {
        display: inline-block;
        // padding-left: 2px;
        color: $accentColor;

        a {
            color: $darkColor;
            border: none;
            
        }
    }
}
