<div class="container attributes__list">

  <div class="row text-center">
    {% for att in site.data.images %}
    {% if att.link %}
    <div class="col-md-6 col-lg-6 col-xl-4 mb-5">

      <div class="card mb-4">
        <h2 class="card-header top-50 attribue-description">{{ att.description }}</h2>

        <h5 class="attribue-label p-2 m-0">Original</h5>

        <img class="" src="{{ att.original }}" alt="{{ att.description }}">

        <h5 class="attribue-label p-2 m-0">Altered</h5>

        <img class="" src="{{ att.url }}" alt="{{ att.description }}">

        <div class="card-footer p-3">
          <h5>{{ att.link }}</h5>
        </div>
      </div>

    </div>

    {% endif %}
    {% endfor %}
  </div>

</div>