#the-author {

    .the-author-image {
        width: 90%;
        margin: auto;
        margin-bottom: 2rem;
        display: block;
    }
    
    .the-author-title {
        text-align: center;
    }

    @media screen and (min-width: 576px) {
        .the-author-image {
            width: 100%;
        }
        
        .the-author-title {
            text-align: left;
        }
    }
}
